@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-green-50: oklch(0.98 0.02 136.57);
  --color-green-100: oklch(0.96 0.04 136.57);
  --color-green-200: oklch(0.93 0.08 136.57);
  --color-green-300: oklch(0.87 0.1 136.57);
  --color-green-400: oklch(0.82 0.08 136.57);
  --color-green-500: oklch(0.72 0.14 136.57);
  --color-green-600: oklch(0.63 0.17 136.57);
  --color-green-700: oklch(0.53 0.19 136.57);
  --color-green-800: oklch(0.45 0.11 136.57);
  --color-green-900: oklch(0.39 0.09 136.57);
  --color-green-950: oklch(0.30 0.06 136.57);
  --color-red-50: oklch(0.98 0.02 7.83);
  --color-red-100: oklch(0.96 0.04 7.83);
  --color-red-200: oklch(0.93 0.08 7.83);
  --color-red-300: oklch(0.87 0.14 7.83);
  --color-red-400: oklch(0.75 0.11 7.83);
  --color-red-500: oklch(0.72 0.19 7.83);
  --color-red-600: oklch(0.63 0.17 7.83);
  --color-red-700: oklch(0.53 0.14 7.83);
  --color-red-800: oklch(0.45 0.11 7.83);
  --color-red-900: oklch(0.39 0.09 7.83);
  --color-red-950: oklch(0.27 0.06 7.83);
  --color-yellow-50: oklch(0.98 0.02 74.1);
  --color-yellow-100: oklch(0.96 0.04 74.1);
  --color-yellow-200: oklch(0.9 0.08 74.1);
  --color-yellow-300: oklch(0.87 0.14 74.1);
  --color-yellow-400: oklch(0.75 0.11 74.1);
  --color-yellow-500: oklch(0.72 0.19 74.1);
  --color-yellow-600: oklch(0.63 0.17 74.1);
  --color-yellow-700: oklch(0.53 0.12 74.1);
  --color-yellow-800: oklch(0.45 0.11 74.1);
  --color-yellow-900: oklch(0.39 0.09 74.1);
  --color-yellow-950: oklch(0.27 0.06 74.1);
  --color-gray-50: oklch(0.98 0.02 110);
  --color-gray-100: oklch(0.95 0.03 110);
  --color-gray-200: oklch(0.92 0.03 110);
  --color-gray-300: oklch(0.87 0.04 110);
  --color-gray-400: oklch(0.71 0.06 110);
  --color-gray-500: oklch(0.55 0.04 110);
  --color-gray-600: oklch(0.45 0.06 110);
  --color-gray-700: oklch(0.37 0.03 110);
  --color-gray-800: oklch(0.28 0.03 110);
  --color-gray-900: oklch(0.21 0.09 110);
  --color-gray-950: oklch(0.13 0.06 110);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-timeline-past: var(--timeline-past);
  --color-timeline-past-fg: var(--timeline-past-fg);
  --color-timeline-past-border: var(--timeline-past-border);
  --color-timeline-present: var(--timeline-present);
  --color-timeline-present-fg: var(--timeline-present-fg);
  --color-timeline-present-border: var(--timeline-present-border);
  --color-timeline-future: var(--timeline-future);
  --color-timeline-future-fg: var(--timeline-future-fg);
  --color-timeline-future-border: var(--timeline-future-border);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-gray-100);
  --foreground: var(--color-gray-800);
  --card: var(--color-gray-200);
  --card-foreground: var(--color-gray-700);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: var(--color-gray-700);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: var(--color-gray-700);
  --muted: oklch(0.87 0.001 106.424);
  --muted-foreground: oklch(0.42 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--color-gray-200);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
  --timeline-past: transparent;
  --timeline-past-fg: var(--color-gray-400);
  --timeline-past-border: transparent;
  --timeline-present: var(--color-gray-800);
  --timeline-present-fg: var(--color-gray-200);
  --timeline-present-border: var(--timeline-present);
  --timeline-future: var(--color-gray-300);
  --timeline-future-fg: var(--timeline-present);
  --timeline-future-border: var(--timeline-future);
}

.dark {
  --background: var(--color-gray-900);
  --foreground: var(--color-gray-200);
  --card: var(--color-gray-800);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--color-gray-500);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
  --timeline-past: transparent;
  --timeline-past-fg: var(--color-gray-500);
  --timeline-past-border: transparent;
  --timeline-present: var(--color-gray-200);
  --timeline-present-fg: var(--color-gray-800);
  --timeline-present-border: var(--timeline-present);
  --timeline-future: var(--color-gray-700);
  --timeline-future-fg: var(--timeline-present);
  --timeline-future-border: var(--timeline-future);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply overflow-x-hidden;
  }
  body {
    @apply bg-background text-foreground;
    scrollbar-gutter: stable;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Libre Baskerville", serif;
  }
}

.event-marker {
  width: 22px;
  height: 22px;
  background-color: var(--color-green-600);
  border: 3px solid var(--color-gray-100);
  border-radius: 50%;
  box-shadow: 0 0px 12px var(--color-gray-700);
}
