<div>
  <a
    href="/impressum"
    class="mx-2 break-words hover:underline dark:hover:text-stone-200"
    >Impressum</a
  >
  <span class="text-stone-400 dark:text-stone-600">•</span>
  <a
    href="/datenschutz"
    class="mx-2 break-words hover:underline dark:hover:text-stone-200"
    >Datenschutz</a
  >
</div>
